* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

main {
  margin-bottom: 3em; }

header {
  background-color: #1f2937; }

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 700; }

.hero-text {
  font-size: 18px;
  color: #e5e7eb; }

.hero-img-placeholder {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #ffffff68;
  text-align: center;
  padding: 6em 0; }

.header-row-one {
  padding: 1em 0; }

.header-row-two {
  margin-top: 5em; }

.sub-header-row-two {
  margin-bottom: 5em; }

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-brand {
  margin-right: auto; }

.app-title {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700; }

.nav-links {
  display: flex;
  align-items: center;
  margin: 0.1em 0 0; }

.nav-link-a {
  text-decoration: none;
  text-transform: capitalize;
  color: #e5e7eb;
  margin-right: 1em;
  margin-left: 1em; }

.random-info-title {
  color: #1f2937;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 3em; }

.blank-img-placeholder {
  height: 150px;
  width: 150px;
  border: 0.3em solid #3882f6;
  border-radius: 0.6em;
  margin: auto; }

.illustration-text {
  text-align: center;
  color: #1f2937;
  width: 90%;
  padding-left: 1em; }

.illustrations-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 10%; }

.testimonial-section {
  background-color: #e5e7eb; }

.testimonial-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic; }

.client {
  text-align: right;
  color: #1f2937;
  font-weight: 700;
  font-size: 24px; }

.quote {
  margin: 6em 5em; }

.call-to-action-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2em 5em; }

.call-to-action-container {
  background-color: #3882f6;
  margin: 5em auto;
  border-radius: 0.6em; }

.call-to-action-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700; }

.sign-up-ref-text {
  color: #e5e7eb;
  font-size: 18px; }

.sign-up-message {
  margin-right: auto; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  background-color: #1f2937; }

#footnote-wrapper {
  display: flex; }

#footnote {
  margin: 0.7em auto;
  color: #fff; }

.m-footnote-site-title-ref, .m-parent-site-ref {
  text-decoration: none;
  text-transform: capitalize; }
  .m-footnote-site-title-ref:hover, .m-parent-site-ref:hover {
    color: white; }

.hero-sign-up-btn {
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700; }

.call-to-action-btn {
  border: 0.2em solid #fff;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50%; }
  .call-to-action-btn:hover {
    background-color: #1f2937;
    color: #e5e7eb; }

.call-to-action-btn-wrapper {
  display: flex;
  align-items: center; }

/*# sourceMappingURL=main-sass-compiler.css.map */
