
main
    margin-bottom: 4em

.grid
    width: 500px
    display: block
    margin: auto

.selection, .category
    display: flex
    justify-content: space-evenly
    align-items: center

.grid-body
    height: 500px
    border: .2em solid $brandBlack
    margin: 2.5% auto